<%= form_with model: study_item do |f| %>
  <div class="field">
    <%= f.label :title, class: "label" %>
    <div class="control">
      <%= f.text_field :title, required: "required", class: "input" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :status, class: "label" %>
    <div class="control">
      <%= f.number_field :status, class: "input" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :category_id, 'Categoria', class: "label" %>
    <div class="control">
      <div class="select">
        <%= f.collection_select :category_id, Category.all, :id, :title %>
      </div>
    </div>
  </div>
  <br/>

  <%= f.submit class: "button is-primary" %>
<% end %>